<template>
  <div class="select">
    <div class="select__value">
      <div class="select__decoration">
        <span>@</span>
      </div>
      <input @click="ShowVariants()" @input="Filter(value)" v-model="value.name" type="text" class="select__search">
    </div>
    <div class="select__options">
      <ul v-if="selected" class="select__option-container">
        <li v-if="!filteredVariants[0]" @click="DoSelect(variant)" v-for="variant in variants" class="select__option">
          <span>kek</span> {{ variant.name }}
        </li>
        <li v-if="filteredVariants[0]" @click="DoSelect(variant)" v-for="variant in filteredVariants" class="select__option">
          <span>kek</span> {{ variant.name }}
        </li>
      </ul>
    </div>

  </div>
</template>

<script>
export default {
  name: 'hello',
  data () {
    return {
      selected: false,
      value: {
        name: '',
        value: ''
      },
      variants: [
        {
          name: 'Lorem ipsum',
          value: 'lorem_ipsum'
        },
        {
          name: 'Dolor sit',
          value: 'dolor_sit'
        },
        {
          name: 'Amet taburet',
          value: 'amet_taburet'
        }
      ],
      filteredVariants: []
    }
  },
  directives: {
    props: {
      inserted (el, binding, vnode) {
        this.variants = binding
      }
    },
    value: {
      update (el, val) {
        val = this.value
      }
    }
  },
  methods: {
    DoSelect (variant) {
      this.value = variant
      this.filteredVariants = []
      this.selected = false
    },
    Filter (value) {
      console.log(value)
      let result = []
      for (let i = 0; i < this.variants.length; ++i) {
        console.log(this.variants[i].name.indexOf(value.toString()))
        if (this.variants[i].name.indexOf(value.name.toString()) !== -1) result.push(this.variants[i])
      }
      console.log(this.filteredVariants)
      this.filteredVariants = result
    },
    ShowVariants () {
      this.selected = true
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.select {
  border: 1px solid #ddd;
  font-size: 13pt; // убрать потом
  padding: 0;
  position: relative;
}
.select__value {
  display: block;
  padding: 0;
}
.select__decoration {
  /*тут должен быть прописан шрифт, во всех остальных местах - нет*/
  background: #fafafa;
  display: inline-block;
  height: 40px;
  float: left;
  width: 40px;
  box-sizing: border-box;
  margin: 0;
  border-right: 1px solid #bbb;
}
.select__decoration > span {
  display: inline-block;
  padding: 0;
  line-height: 35px;
  vertical-align: middle;
}
.select__point > span {
  display: inline-block;
  padding: 0;
  line-height: 35px;
  vertical-align: middle;
  cursor: pointer;
}
.select__point:hover {
  background: #fafafa;
}
.select__search {
  margin: 0;
  padding: 6.5px 10px 6.5px 20px;
  height: 40px;
  box-sizing: border-box;
  text-align: left;
  display: inline-block;
  background: #fff;
  width: calc(100% - 40px);
  transition: 0.5s;
  cursor: pointer;
  border: 0;
  font-size: 22px;
}
.select__option-container {
  border-top: 1px solid #bbb;
  padding: 0;
}
.select__option {
  padding: 7px 10px 7px 50px;
  cursor: pointer;
  font-size: 22px;
  text-align: left;
  list-style-type: none;
}
.select__option:hover {
  background: #fafafa;
}
.select__option + .select__option {
  border-top: 1px solid #bbb;
}
* {
  margin: 0;
}
</style>
